<footer class="footer-area">
  <!-- Section Widget Pied de page -->
  <div class="footer-widget">
    <div class="container">
      <div class="row footer-widget-wrapper pt-100 pb-70">

        <!-- Section À propos de nous -->
        <div class="col-md-6 col-lg-3">
          <div class="footer-widget-box about-us">
            <a href="#" class="footer-logo">
              <img src="app/client/assets/img/logo/salam-logo.png" alt="Logo" />
            </a>
            <p class="mb-1">
              Nous sommes de nombreuses variations des passages disponibles, mais la majorité a subi des modifications sous forme d'injections.
            </p>
            <!-- Informations de contact -->
            <div class="footer-call">
              <div class="footer-call-icon">
                <i class="fal fa-headset"></i>
              </div>
              <div class="footer-call-info">
                <p>Besoin d'aide 24/7 ?</p>
                <a href="tel:+21236547898">+221 77 010 11 01</a>
              </div>
            </div>
            <!-- Section Téléchargement de l'Application Mobile -->
            <div class="footer-download">
              <h5>Téléchargez notre application mobile</h5>
              <div class="footer-download-btn">
                <a href="#">
                  <i class="fab fa-google-play"></i>
                  <div class="download-btn-info">
                    <span>Obtenez-le sur</span>
                    <h6>Google Play</h6>
                  </div>
                </a>
                <a href="#">
                  <i class="fab fa-app-store"></i>
                  <div class="download-btn-info">
                    <span>Obtenez-le sur</span>
                    <h6>App Store</h6>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- Section Liens rapides -->
        <div class="col-md-6 col-lg-2">
          <div class="footer-widget-box list">
            <h4 class="footer-widget-title">Liens rapides</h4>
            <ul class="footer-list">
              <li><a href="#">À propos de nous</a></li>
              <li><a href="#">Devenir un vendeur</a></li>
              <li><a href="#">Contactez-nous</a></li>
              <li><a href="#">Actualités</a></li>
              <li><a href="#">Témoignages</a></li>
              <li><a href="#">Conditions d'utilisation</a></li>
              <li><a href="#">Politique de confidentialité</a></li>
            </ul>
          </div>
        </div>

        <!-- Section Parcourir les catégories -->
        <div class="col-md-6 col-lg-2">
          <div class="footer-widget-box list">
            <h4 class="footer-widget-title">Parcourir les catégories</h4>
            <ul class="footer-list">
              <li><a href="#">Accessoires</a></li>
              <li><a href="#">Maison & Jardin</a></li>
              <li><a href="#">Électronique</a></li>
              <li><a href="#">Santé & Beauté</a></li>
              <li><a href="#">Épicerie</a></li>
              <li><a href="#">Jouets pour bébés</a></li>
              <li><a href="#">Musique & Vidéo</a></li>
            </ul>
          </div>
        </div>

        <!-- Section Centre d'assistance -->
        <div class="col-md-6 col-lg-2">
          <div class="footer-widget-box list">
            <h4 class="footer-widget-title">Centre d'assistance</h4>
            <ul class="footer-list">
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Comment acheter</a></li>
              <li><a href="#">Centre d'assistance</a></li>
              <li><a href="#">Suivre votre commande</a></li>
              <li><a href="#">Politique de retour</a></li>
              <li><a href="#">Nos affiliés</a></li>
              <li><a href="#">Plan du site</a></li>
            </ul>
          </div>
        </div>

        <!-- Section Nous contacter -->
        <div class="col-md-6 col-lg-3">
          <div class="footer-widget-box list">
            <h4 class="footer-widget-title">Nous contacter</h4>
            <p>
              N'hésitez pas à nous contacter aujourd'hui. Nous sommes prêts à vous aider.
            </p>
            <ul class="footer-contact">
              <li>
                <a href="tel:+21236547898"
                ><i class="far fa-phone"></i>+221 77 010 11 01</a
                >
              </li>
              <li>
                <i class="far fa-map-marker-alt"></i>25/B Milford Road, New York
              </li>
              <li>
                <a
                  href="https://live.themewild.com/cdn-cgi/l/email-protection#eb82858d84ab8e938a869b878ec5888486"
                ><i class="far fa-envelope"></i
                ><span
                  class="__cf_email__"
                  data-cfemail="721b1c141d32170a131f021e175c111d1f"
                >[email&#160;protected]</span
                ></a
                >
              </li>
              <li><i class="far fa-clock"></i>Lun-Ven (9.00AM - 8.00PM)</li>
            </ul>
          </div>
        </div>

        <!-- Section Liens principaux -->
        <div class="col-12">
          <div class="footer-top-link">
            <h5>Liens principaux</h5>
            <div class="footer-top-link-info">
              <a href="#">Top des vendeurs</a>
              <a href="#">Nouveautés</a>
              <a href="#">Accessoires</a>
              <a href="#">Électronique</a>
              <a href="#">Épicerie</a>
              <a href="#">Beauté</a>
              <a href="#">Santé</a>
              <a href="#">Jouets pour bébés</a>
              <a href="#">Musique</a>
              <a href="#">Meubles</a>
              <a href="#">Cadeaux</a>
              <a href="#">Sports</a>
              <a href="#">Automobile</a>
              <a href="#">Montres</a>
              <a href="#">Plan du site</a>
              <a href="#">Nos affiliés</a>
              <a href="#">Politique de retour</a>
              <a href="#">Vidéo</a>
              <a href="#">Maison & Jardin</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Copyright Section -->
  <div class="copyright">
    <div class="container">
      <div class="copyright-wrap">
        <div class="row">
          <div class="col-12 col-lg-4 align-self-center">
            <div class="footer-payment">
              <span>Nous acceptons :</span>
              <img src="app/client/assets/img/payment/visa.svg" alt="Visa" />
              <img src="app/client/assets/img/payment/mastercard.svg" alt="Mastercard" />
              <img src="app/client/assets/img/payment/amex.svg" alt="American Express" />
              <img src="app/client/assets/img/payment/discover.svg" alt="Discover" />
              <img src="app/client/assets/img/payment/paypal.svg" alt="PayPal" />
            </div>
          </div>
          <div class="col-12 col-lg-4 align-self-center">
            <p class="copyright-text">
              &copy; Copyright <span id="date"></span>
              <a href="#"> AsSalam </a> Tous droits réservés.
            </p>
          </div>
          <div class="col-12 col-lg-4 align-self-center">
            <div class="footer-social">
              <span>Suivez-nous :</span>
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
              <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

