<header class="header" [hidden]="hideHeader">
  <div class="header-top">
    <div class="container">
      <div class="header-top-wrapper">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-6 col-xl-5">
            <div class="header-top-left">
              <ul class="header-top-list">
                <li>
                  <a
                    href="https://live.themewild.com/cdn-cgi/l/email-protection#cda4a3aba28da8b5aca0bda1a8e3aea2a0"
                  ><i class="far fa-envelopes"></i>
                    <span
                      class="__cf_email__"
                      data-cfemail="c3aaada5ac83a6bba2aeb3afa6eda0acae"
                    >contact&#64;assalam.com</span
                    ></a
                  >
                </li>
                <li>
                  <a href="tel:+21236547898"
                  ><i class="far fa-headset"></i> +221 77 010 11 01</a
                  >
                </li>
                <li class="help">
                  <a href="#"
                  ><i class="far fa-comment-question"></i> Besoin d'aide?</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-6 col-xl-7">
            <div class="header-top-right">
              <ul class="header-top-list">
                <li *ngIf="user && isClient">
                  <a href="#"
                  ><i class="far fa-alarm-clock"></i> Offre du jour</a
                  >
                </li>
                <li class="account">
                  <a href="/user-account/user-dashboard"><i class="far fa-user-vneck"></i> Compte</a>
                </li>
                <li class="login">
                  <a href="#" (click)="logout()" *ngIf="user">
                    <i class="far fa-arrow-right-to-arc"></i>
                    Déconnexion
                  </a>
                </li>
                <li class="login" *ngIf="!user">
                  <a href="/auth/login">
                    <i class="far fa-arrow-right-to-arc"></i>
                    Connexion
                  </a>
                </li>
                <li>
                  <div class="dropdown">
                    <a
                      href="#"
                      class="dropdown-toggle"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="far fa-usd"></i> USD
                    </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">USD</a>
                      <a class="dropdown-item" href="#">EUR</a>
                      <a class="dropdown-item" href="#">AUD</a>
                      <a class="dropdown-item" href="#">CUD</a>
<!--                      <a class="dropdown-item" href="#">{{ user.name }}</a>-->
                    </div>
                  </div>
                </li>
                <li>
                  <div class="dropdown">
                    <a
                      href="#"
                      class="dropdown-toggle"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="far fa-globe-americas"></i> EN
                    </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">EN</a>
                      <a class="dropdown-item" href="#">FR</a>
                      <a class="dropdown-item" href="#">DE</a>
                      <a class="dropdown-item" href="#">RU</a>
                    </div>
                  </div>
                </li>
                <li class="social">
                  <div class="header-top-social">
                    <span>Suivez-nous: </span>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="header-middle">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-5 col-lg-3 col-xl-3">
          <div class="header-middle-logo" style="height: 40%; width: 40%">
            <a class="navbar-brand" href="/">
              <img src="app/client/assets/img/logo/salam-logo.png" alt="logo" />
            </a>
          </div>
        </div>
        <div class="d-none d-lg-block col-lg-6 col-xl-5">
          <div class="header-middle-search">
            <form action="#" *ngIf="!user || isClient">
              <div class="search-content">
                <select class="select">
                  <option value>Toutes les catégories</option>
                  <option value="1">Today's Hot Deals</option>
                  <option value="2">Fashion & Accessories</option>
                  <option value="3">Electronics</option>
                  <option value="4">Grocery & Market</option>
                  <option value="5">Music</option>
                  <option value="6">Home & Furniture</option>
                  <option value="7">Toy & Video Games</option>
                  <option value="8">Gifts</option>
                  <option value="9">Babies & Moms</option>
                  <option value="10">Sports & Outdoor</option>
                  <option value="11">Health & Beauty</option>
                </select>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Rechercher ici..."
                />
                <button type="submit" class="search-btn">
                  <i class="far fa-search"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-7 col-lg-3 col-xl-4">
          <div class="header-middle-right">
            <ul class="header-middle-list">
              <li>
                <div class="header-middle-account">
                  <div class="dropdown">
                    <div data-bs-toggle="dropdown" aria-expanded="false">
                      <img src="app/client/assets/img/account/user.jpg" alt />
                    </div>
                    <ul class="dropdown-menu dropdown-menu-end">
                      <li>
                        <div class="dropdown-user">
                          <h5>Bienvenue! Ismaël</h5>
                          <p>Votre solde: 5 000 FCFA</p>
                        </div>
                      </li>
                      <li>
                        <a
                          class="dropdown-item"
                          href="/user-account/user-dashboard"
                        ><i class="far fa-gauge-high"></i> Mon compte</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href="vendor-product.html"
                        ><i class="far fa-layer-group"></i> Products</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href="vendor-order.html"
                        ><i class="far fa-shopping-bag"></i> Mes commandes
                          <span class="badge badge-danger">02</span></a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href="vendor-setting.html"
                        ><i class="far fa-gear"></i> Paramètres</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href="#"
                        ><i class="far fa-sign-out"></i> Déconexion</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
              <li *ngIf="!isLoggedIn || isClient">
                <a href="#" class="list-item">
                  <i class="far fa-arrows-rotate"></i>
                  <span *ngIf="isClient">0</span>
                </a>
              </li>
              <li *ngIf="!isLoggedIn || isClient">
                <a href="#" class="list-item">
                  <i class="far fa-heart"></i>
                  <span *ngIf="isClient">0</span>
                </a>
              </li>
              <li class="dropdown-cart" *ngIf="isLoggedIn && isClient">
                <div *ngIf="user.panier.detailsPanier.length">
                  <a href="/cart" class="shop-cart list-item"
                  ><i class="far fa-shopping-bag"></i> <span>{{user.panier.detailsPanier.length}}</span></a
                  >
                  <div class="dropdown-cart-menu">
                    <div class="dropdown-cart-header">
                      <span>{{user.panier.detailsPanier.length}} Items</span>
                      <a href="/cart">Voir le panier</a>
                    </div>
                    <ul class="dropdown-cart-list">
                      <li *ngFor="let details of user.panier.detailsPanier">
                        <div class="dropdown-cart-item">
                          <div class="cart-img">
                            <a href="#"
                            ><img src="app/client/assets/img/product/{{details.produit.images[0].url}}" alt="#"
                            /></a>
                          </div>
                          <div class="cart-info">
                            <h4><a href="#">{{ details.produit.libelle }}</a></h4>
                            <p class="cart-qty">
                              {{details.quantite}}x - <span class="cart-amount">{{ details.montant | number: '1.0-0' }}
                              <span class="opacity-75 bg-opacity-75 text-bg-warning" style="font-size: small" *ngIf="details.produit.remise">-{{details.produit.remise}}%</span>
                            </span>
                            </p>
                          </div>
                          <a
                            href="#"
                            class="cart-remove"
                            title="Remove this item"
                          ><i class="far fa-times-circle"></i
                          ></a>
                        </div>
                      </li>
                    </ul>
                    <div class="dropdown-cart-bottom">
                      <div class="dropdown-cart-total">
                        <span>Total</span>
                        <span class="total-amount">{{ calculateTotalPanier(user.panier.detailsPanier) | number: '1.0-0' }} FCFA</span>
                      </div>
                      <a href="/checkout" class="theme-btn">Commander</a>
                    </div>
                  </div>
                </div>
                <div *ngIf="!user.panier.detailsPanier.length">
                  <a href="/cart" class="shop-cart list-item">
                    <i class="far fa-shopping-bag"></i>
                    <span *ngIf="user">0</span>
                  </a>
                  <div class="dropdown-cart-menu">
                    <div class="dropdown-cart-bottom">
                      <div class="dropdown-cart-total">
                        <span class="justify-content-center">Votre panier est vide!</span>
                      </div>
                      <a href="/shop" class="theme-btn">Commencez vos achats</a>
                    </div>
                  </div>
                </div>
              </li>
              <li class="dropdown-cart" *ngIf="!isLoggedIn">
                <a href="/cart" class="shop-cart list-item">
                  <i class="far fa-shopping-bag"></i>
                  <span *ngIf="user">0</span>
                </a>
                <div class="dropdown-cart-menu">
                  <div class="dropdown-cart-bottom">
                    <div class="dropdown-cart-total">
                      <span class="justify-content-center">Votre panier est vide!</span>
                    </div>
                    <a href="/shop" class="theme-btn">Commencez vos achats</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main-navigation" *ngIf="(isLoggedIn && isClient) || !isLoggedIn">
    <nav class="navbar navbar-expand-lg">
      <div class="container position-relative">
        <a class="navbar-brand" href="/">
          <img
            src="app/client/assets/img/logo/salam-logo.png"
            class="logo-scrolled"
            alt="logo"
          />
        </a>
        <div class="category-all">
          <button class="category-btn" type="button">
            <i class="far fa-grid-2-plus"></i><span>Nos Catégories</span>
          </button>
          <ul class="main-category {{hideCategoryDropDown}}">
            <li *ngFor="let categorie of productCategories; let i = index">
              <a href="#">
                <img [src]="icons[i].icon" alt />
                <span>{{ categorie.libelle }}</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="mobile-menu-right">
          <div class="search-btn">
            <button type="button" class="nav-right-link">
              <i class="far fa-search"></i>
            </button>
            <div class="mobile-search-form">
              <form action="#">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Search Here..."
                />
                <button type="submit"><i class="far fa-search"></i></button>
              </form>
            </div>
          </div>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#main_nav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
                <span class="navbar-toggler-mobile-icon"
                ><i class="far fa-bars"></i
                ></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="main_nav">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a
                class="nav-link"
                href="/"
                data-bs-toggle="dropdown"
              >Accueil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/shop">Boutique</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="#"
                data-bs-toggle="dropdown"
              >Vendeurs</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link"
                href="#"
                data-bs-toggle="dropdown"
              >A propos</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Contact</a>
            </li>
          </ul>
          <div class="nav-right">
            <div class="nav-right-btn">
              <a href="become-seller.html" class="theme-btn"
              >Devenir vendeur</a
              >
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
