<div class="product-img">
  <a href="/product-details"
  ><img src="app/client/assets/img/product/new_products/{{produit.images[0].url}}" alt
  /></a>
  <div class="product-action-wrap">
    <div class="product-action">
      <a
        href="#"
        data-bs-toggle="modal"
        data-bs-target="#quickview"
        data-tooltip="tooltip"
        title="Quick View"
      ><i class="far fa-eye"></i
      ></a>
      <a
        (click)="addToWishlist()"
        style="color: white"
        data-tooltip="tooltip"
        title="Add To Wishlist"
      ><i class="far fa-heart"></i
      ></a>
      <a
        href="#"
        data-tooltip="tooltip"
        title="Add To Compare"
      ><i class="far fa-arrows-repeat"></i
      ></a>
    </div>
  </div>
</div>
<div class="product-content">
  <h3 class="product-title">
    <a href="/product-details">{{ produit.libelle }}</a>
  </h3>
  <div class="product-bottom">
    <div class="product-price">
      <pre>Voici les catégories de produits disponibles sur notre site :\n\n\n* **Accessoires**\n* **Mode**\n* **Maison & Meubles**\n* **Électronique**\n* **Épicerie & Marché**\n* **Jouets & Jeux Vidéo**\n* **Bébés & Mamans**\n* **Sports & Plein air**\n* **Maison & Jardin**\n* **Musique & Audio**\n* **Autres**\n\n\nSi vous souhaitez plus de détails sur une catégorie spécifique, n'hésitez pas à me le faire savoir !</pre>
    </div>

    <button
      (click)="addToCart(produit)"
      type="button"
      class="product-cart-btn"
      data-bs-placement="left"
      data-tooltip="tooltip"
      title="Add To Cart"
      *ngIf="produit.detailsPanier.length == 0 || produit.detailsPanier[0].quantite == 0 "
    >
      <i class="far fa-shopping-bag"></i>
    </button>
    <div class="float-end" *ngIf="produit.detailsPanier.length > 0" [hidden]="produit.detailsPanier[0].quantite == 0 ">
      <div class="shop-cart-qty">
        <button (click)="decrement()" class="minus-btn">
          <i class="fal fa-minus"></i>
        </button>
        <input
          class="quantity"
          type="text"
          [value]="produit.detailsPanier[0].quantite"
          disabled
        />
        <button (click)="increment()" class="plus-btn">
          <i class="fal fa-plus"></i>
        </button>
      </div>
    </div>
  </div>
</div>
