<div class="container">
  <div class="row align-items-center">
    <div class="col-md-12 col-lg-6 col-xl-5 offset-xl-3">
      <div class="hero-content">
        <h6
          class="hero-sub-title"
          data-animation="fadeInUp"
          data-delay=".25s"
        >
          {{ slider.subTitle }}
        </h6>
        <h1
          class="hero-title"
          data-animation="fadeInRight"
          data-delay=".50s"
          [innerHTML]="slider.title"
        >

        </h1>
        <p data-animation="fadeInLeft" data-delay=".75s">
          {{ slider.description }}
        </p>
        <div
          class="hero-btn"
          data-animation="fadeInUp"
          data-delay="1s"
        >
          <a href="#" class="theme-btn"
          >Acheter maintenant<i class="fas fa-arrow-right"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-6 col-xl-4">
      <div class="hero-right">
        <div class="hero-img">
          <img
            [src]="slider.image"
            alt
            data-animation="fadeInRight"
            data-delay=".25s"
          />
        </div>
      </div>
    </div>
  </div>
</div>
