<a class="sidenav-item-link" [routerLink]="sideBarItem?.link">
  <i class="{{sideBarItem?.icon}}"></i>
  <span class="nav-text">{{sideBarItem?.label}}</span> <b class="caret" *ngIf="sideBarItem?.id"></b>
</a>
<div class="collapse" *ngIf="sideBarItem.subMenu">
  <ul class="sub-menu" id="{{sideBarItem?.id}}" data-parent="#sidebar-menu">
    <li class="" *ngFor="let subItem of sideBarItem?.subMenu">
      <a class="sidenav-item-link" [routerLink]="subItem.link">
        <span class="nav-text">{{subItem.label}}</span>
      </a>
    </li>
  </ul>
</div>
