<div class="newsletter-area pt-60 pb-60">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <div class="newsletter-content">
          <h3>Obtenez un coupon de réduction de <span>20%</span></h3>
          <p>En vous abonnant à notre newsletter</p>
          <div class="subscribe-form">
            <form action="#">
              <input
                type="email"
                class="form-control"
                placeholder="Votre adresse e-mail valide"
              />
              <button class="theme-btn" type="submit">
                S'abonner <i class="far fa-paper-plane"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="newsletter-img-1">
    <img src="app/client/assets/img/product/p15.png" alt />
  </div>
  <div class="newsletter-img-2">
    <img src="app/client/assets/img/newsletter/02.png" alt />
  </div>
</div>
