<h5>Resumé de panier</h5>
<ul>
  <li><strong>Sous-total:</strong> <span>{{ subTotal | number: '1.0-0' }} FCFA</span></li>
  <li><strong>Réduction:</strong> <span>{{ reductionTotal | number: '1.0-0' }} FCFA</span></li>
  <li><strong>Livraison:</strong> <span>Gratuite</span></li>
  <li><strong>Taxe:</strong> <span>0 FCFA</span></li>
  <li class="shop-cart-total">
    <strong>Total:</strong> <span>{{ total | number: '1.0-0' }} FCFA</span>
  </li>
</ul>
<div class="text-end mt-40">
  <a *ngIf="isCartProcess" href="/checkout" class="theme-btn"
  >passer la commande<i class="fas fa-arrow-right-long"></i
  ></a>
  <button *ngIf="!isCartProcess" (click)="validatePanier()" class="theme-btn"
  >confirmer la commande<i class="fas fa-arrow-right-long"></i
  ></button>
</div>
