logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicTypeDescriptor: TRACE
    org.hibernate.type.descriptor.sql.SqlTypeDescriptor: TRACE
    com.salam.backend: DEBUG

spring:
  application:
    name: AsSalam
    secret-key: 1234567890qwertyuiopasdfghjkl
    expiration-time: 900000
  security:
    user:
      name: admin
      password: admin
  datasource:
    url: jdbc:postgresql://${SPRING_DATASOURCE_HOST:localhost}:${SPRING_DATASOURCE_PORT:5433}/AsSalam
    username: ${SPRING_DATASOURCE_USERNAME:postgres}
    password: ${SPRING_DATASOURCE_PASSWORD:passer}

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  data:
    web:
      pageable:
        default-page-size: 3



file_upload:
  upload_dir: C:/Users/HP/Documents/As Salam/As Salam/BackEnd/src/main/resources/static/