<main class="main">
  <div class="site-breadcrumb">
    <div
      class="site-breadcrumb-bg"
      style="background: url(app/client/assets/img/breadcrumb/01.jpg)"
    ></div>
    <div class="container">
      <div class="site-breadcrumb-wrap">
        <h4 class="breadcrumb-title">Boutique</h4>
        <ul class="breadcrumb-menu">
          <li>
            <a href="/"><i class="far fa-home"></i> Accueil</a>
          </li>
          <li class="active">Boutique</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="shop-area py-100">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="shop-sidebar">
            <div class="shop-widget">
              <div class="shop-search-form">
                <h4 class="shop-widget-title">Rechercher</h4>
                <form action="#">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Rechercher"
                    />
                    <button type="search">
                      <i class="far fa-search"></i>
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <div class="shop-widget">
              <h4 class="shop-widget-title">Catégories</h4>
              <ul class="shop-category-list">
                <li *ngFor="let categorie of productCategories">
                  <a href="#">{{ categorie?.libelle }}<span>({{ categorie?.produits.length }})</span></a>
                </li>
              </ul>
            </div>
            <div class="shop-widget-banner mt-30 mb-50">
              <div
                class="banner-img"
                style="
          background-image: url(app/client/assets/img/banner/shop-banner.jpg);
        "
              ></div>
              <div class="banner-content">
                <h6>Obtenez <span>35% de réduction</span></h6>
                <h4>Nouvelle collection de lunettes de soleil</h4>
                <a href="#" class="theme-btn">Achetez maintenant</a>
              </div>
            </div>

          </div>
        </div>
        <div class="col-lg-9">
          <div class="col-md-12">
            <div class="shop-sort">
              <div class="shop-sort-box">
                <div class="shop-sorty-label">Filtrer par:</div>
                <select class="select">
                  <option value="1">Tri par défaut</option>
                  <option value="5">Derniers articles</option>
                  <option value="2">Articles les plus vendus</option>
                  <option value="3">Price - Du plus bas au plus élevé</option>
                  <option value="4">Prix - Du plus élevé au plus bas</option>
                </select>
                <div class="shop-sort-show">Affichage de 1 à 10 sur 50 résultats</div>
              </div>
              <div class="shop-sort-gl">
                <a routerLink="/shop" class="shop-sort-grid active"
                ><i class="far fa-grid-round-2"></i
                ></a>
                <a routerLink="/shop/list/" class="shop-sort-list"
                ><i class="far fa-list-ul"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="shop-item-wrapper">
            <div class="row">
              <div *ngFor="let produit of produits" class="col-md-6 col-lg-4">
                <div class="product-item">
                  <app-product-item [produit]="produit"></app-product-item>
                </div>
              </div>
            </div>
          </div>

          <div class="pagination-area mb-0">
            <div aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true"
                        ><i class="far fa-arrow-left"></i
                        ></span>
                  </a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                  <span class="page-link">...</span>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">10</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true"
                        ><i class="far fa-arrow-right"></i
                        ></span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-prefooter></app-prefooter>
</main>

<app-modal-quickview></app-modal-quickview>
