<div class="user-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <div class="user-card">
        <div class="user-card-header">
          <h4 class="user-card-title">Address List</h4>
          <div class="user-card-header-right">
            <a routerLink="/user-account/user-address-add" class="theme-btn"
            ><span class="far fa-plus-circle"></span>Add
              Address</a
            >
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-borderless text-nowrap">
            <thead>
            <tr>
              <th>Name</th>
              <th>Address</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>
                <span class="table-list-code">Antoni</span>
              </td>
              <td>25/B Milford Road, New York</td>
              <td>
                <a
                  href="https://live.themewild.com/cdn-cgi/l/email-protection"
                  class="__cf_email__"
                  data-cfemail="25444b514a4b4c65405d44485549400b464a48"
                >[email&#160;protected]</a
                >
              </td>
              <td>(+02) 123 4687 456</td>
              <td>
                <a
                  href="#"
                  class="btn btn-outline-secondary btn-sm rounded-2"
                  data-tooltip="tooltip"
                  title="Edit"
                ><i class="far fa-pen"></i
                ></a>
                <a
                  href="#"
                  class="btn btn-outline-danger btn-sm rounded-2"
                  data-tooltip="tooltip"
                  title="Delete"
                ><i class="far fa-trash-can"></i
                ></a>
              </td>
            </tr>
            <tr>
              <td>
                <span class="table-list-code">Antoni</span>
              </td>
              <td>25/B Milford Road, New York</td>
              <td>
                <a
                  href="https://live.themewild.com/cdn-cgi/l/email-protection"
                  class="__cf_email__"
                  data-cfemail="3f5e514b5051567f5a475e524f535a115c5052"
                >[email&#160;protected]</a
                >
              </td>
              <td>(+02) 123 4687 456</td>
              <td>
                <a
                  href="#"
                  class="btn btn-outline-secondary btn-sm rounded-2"
                  data-tooltip="tooltip"
                  title="Edit"
                ><i class="far fa-pen"></i
                ></a>
                <a
                  href="#"
                  class="btn btn-outline-danger btn-sm rounded-2"
                  data-tooltip="tooltip"
                  title="Delete"
                ><i class="far fa-trash-can"></i
                ></a>
              </td>
            </tr>
            <tr>
              <td>
                <span class="table-list-code">Antoni</span>
              </td>
              <td>25/B Milford Road, New York</td>
              <td>
                <a
                  href="https://live.themewild.com/cdn-cgi/l/email-protection"
                  class="__cf_email__"
                  data-cfemail="62030c160d0c0b22071a030f120e074c010d0f"
                >[email&#160;protected]</a
                >
              </td>
              <td>(+02) 123 4687 456</td>
              <td>
                <a
                  href="#"
                  class="btn btn-outline-secondary btn-sm rounded-2"
                  data-tooltip="tooltip"
                  title="Edit"
                ><i class="far fa-pen"></i
                ></a>
                <a
                  href="#"
                  class="btn btn-outline-danger btn-sm rounded-2"
                  data-tooltip="tooltip"
                  title="Delete"
                ><i class="far fa-trash-can"></i
                ></a>
              </td>
            </tr>
            <tr>
              <td>
                <span class="table-list-code">Antoni</span>
              </td>
              <td>25/B Milford Road, New York</td>
              <td>
                <a
                  href="https://live.themewild.com/cdn-cgi/l/email-protection"
                  class="__cf_email__"
                  data-cfemail="83e2edf7ecedeac3e6fbe2eef3efe6ade0ecee"
                >[email&#160;protected]</a
                >
              </td>
              <td>(+02) 123 4687 456</td>
              <td>
                <a
                  href="#"
                  class="btn btn-outline-secondary btn-sm rounded-2"
                  data-tooltip="tooltip"
                  title="Edit"
                ><i class="far fa-pen"></i
                ></a>
                <a
                  href="#"
                  class="btn btn-outline-danger btn-sm rounded-2"
                  data-tooltip="tooltip"
                  title="Delete"
                ><i class="far fa-trash-can"></i
                ></a>
              </td>
            </tr>
            <tr>
              <td>
                <span class="table-list-code">Antoni</span>
              </td>
              <td>25/B Milford Road, New York</td>
              <td>
                <a
                  href="https://live.themewild.com/cdn-cgi/l/email-protection"
                  class="__cf_email__"
                  data-cfemail="5637382239383f16332e373b263a337835393b"
                >[email&#160;protected]</a
                >
              </td>
              <td>(+02) 123 4687 456</td>
              <td>
                <a
                  href="#"
                  class="btn btn-outline-secondary btn-sm rounded-2"
                  data-tooltip="tooltip"
                  title="Edit"
                ><i class="far fa-pen"></i
                ></a>
                <a
                  href="#"
                  class="btn btn-outline-danger btn-sm rounded-2"
                  data-tooltip="tooltip"
                  title="Delete"
                ><i class="far fa-trash-can"></i
                ></a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
